# Django specific
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
backend/static/

# Environments
.env
venv/
env/
ENV/
.venv/
.idea/
.vscode/

# Django migrations
*/migrations/*

# macOS specific
.DS_Store

# Dependencias de Node.js
node_modules/

# Archivos de compilación
build/
dist/

# Archivos de configuración local
.env.local
.env.development
.env.production
.env.test

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log
*.out
*.err
